@model PPParkingLot.Models.Insert.EmployeeInsertViewModel

@{
    ViewData["Title"] = "DisableEmployee";
}

<h1>Disable Employee</h1>

<h3>Are you sure you want to disable this?</h3>
<div>
    <hr />
    ,
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CPF)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CPF)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SystemEntranceDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SystemEntranceDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SystemExitDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SystemExitDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccessLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccessLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Wage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Wage)
        </dd>
    </dl>
    
    <form asp-action="DisableEmployee">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
